.site-wrapper {
	margin: 0 auto;
}

.aurora-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    object-fit: cover;
    height: 50rem;
}

.intro {
    line-height: 1.2;
}

h1 {
    font-size: 4rem;
    text-align: left;
}

/* Larger Screens */
@media (min-width: 50rem) {
    
    .aurora-bg {
        width: 100vw;
    }

    h1 {
        font-size: 7rem;
    }
}


.fa-chevron-down {
    font-size: 1.5rem;
    color: white; 
    margin-bottom: 2rem;
}


.intro {
    text-shadow: .125rem .125rem .25rem rgba(0, 0, 0, 0.4);
}

.intro p {
    color: #ffff;
    margin: 2rem 2rem 16rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.intro h1 {
    color: #ffff;
    margin: 10rem 2rem 2rem 2rem;
}

@media (min-width: 50rem) {

    .intro {
        line-height: 1.5;
    }

    .intro h1 {
        margin: 12rem 0 2rem 0;
    }

    .intro p {
        font-size: 3rem;
        margin: 0 0 14rem 0;
    }

}

.blurb, h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.5rem;
}

.blurb {
    padding-top: 2.5rem;
    font-weight: 600;
    line-height: 1.5;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
}

.page-cards {
    padding-bottom: 2rem;
}

.page-cards h3 {
    margin-left: 1.5rem;
}

.page-cards p {
    line-height: 2;
    margin: 1.5rem;
}

.card-button {
    background-color: rgb(236, 186, 38);
    padding: .5rem 1.2rem .5rem 1.6rem;
    border-radius: 15px;
    margin: 1.5rem 0 0 1.5rem;
    transition: background 0.2s ease;
    color: black;
    font-weight: 600;
}

.card-button:hover, .card-button:focus, .card-button:active  {
    background-color: rgb(234, 158, 35);
    transition: background 0.2s ease;
}

.card-button:visited {
    color: black;
}

.fa-arrow-right {
    margin-left: 0.5rem;
}

@media (min-width: 50rem) {

    .blurb, h2 {
        margin: auto;
        width: 60%;
        text-align: center;
        padding: 2.5rem;
    }
    
    .blurb {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }

    .page-cards {
        display: flex;
        align-items: center;
        margin: 2.5rem 0;
    }
    
    .page-cards img {
        width: 50rem;
        height: 30rem;
        object-fit: cover;
        height: auto;
        display: block;
    }
    
    .page-cards .content {
        padding-left: 1.5rem;
        width: 30rem;
    }
    
    .page-cards h3 {
        margin-top: 0;
    }
    
    .page-cards p {
        margin-bottom: .5rem;
    }
    
    .page-cards .card-button {
        display: inline-flex;
        align-items: center;
    }
    

    .page-cards.culture {
        flex-direction: row-reverse;
    }
    
    .page-cards.culture .content {
        padding-right: 2rem;
        padding-left: 0;
    }
    
    .page-cards.aurora {
        padding-bottom: 4rem;
        margin-bottom: 0;
    }

}
