
h1 {
    line-height: 1;
}

p {
    margin: 1.5rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.25rem 0;
    font-size: 1rem;
    text-align: left;
    overflow-x: auto;
    display: block;
}

th, td {
    padding: .75rem 1rem;
    border: .0625rem solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (min-width: 50rem) {

    h1 {
        line-height: 1;
        margin-bottom: 4rem;
    }

    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }

    .page-cards {
        display: flex;
        align-items: stretch;
        padding: 1.25rem;
        margin-bottom: 1.25rem;
        gap: 1.25rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
        width: 50%;
    }

    .grid-container div:nth-child(2) {
        grid-row: span 2;
    }

    .page-cards .content {
        flex: 1;
        display: flex;
        align-items: center;
        margin: 3rem;
    }

    .page-cards img {
        width: 100%;
        height: auto;
    }

    .page-cards.hunting {
        flex-direction: row-reverse;
    }

    .license-table {
        margin: 2rem;
    }
}
